<nav class="navbar navbar-light bg-light justify-content-between">
    <a href="/admin" class="navbar-brand">Task Controller</a>
    <form class="form-inline">
        <a href="/admin/user-info" class="btn btn-outline-primary">User Info</a>
        <a href="/task/get-all-task" class="btn btn-outline-secondary m-2">Assign Task</a>
        <a href="/auth/logout" class="btn btn-outline-danger">Logout</a>
    </form>
</nav>
