<%- include('./adminNavBar.ejs') %>

<div class="row">
    <div class="col-sm-7">
        <h3>Add New User!</h3>
        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter Password" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
    <div class="col-sm-5">
        <h3>User List 📃</h3>
        <div class="card mt-4" style="overflow-y:auto; height: 850px;">
            <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <!-- Project Title -->
                    <h4 class="card-title"><%= user.name %></h4>
                    <!-- Student Id -->
                    <h6><%= user.email %></h6>
                    <!-- Project Submission Time -->
                    <div class="card-subtitle text-muted mb-2">
                        <p><%= user.createdAt.toLocaleDateString() %></p>
                    </div>

                    <div class="mt-2">
                        <a href="/task/" class="btn btn-danger">Delete</a>
                    </div>

                </div>
            </div>
            <% }) %>
            <div class="m-2"></div>
            <% } else { %>
            <div class="">
                <p class="text-dark">NO user added yet! 🙂</p>
            </div>
            <% } %>
        </div>
    </div>
</div>
