<!-- Footer -->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
            <footer class="page-footer font-small purple pt-3 col-sm-">


                <div class="footer-copyright text-center py-4">&copy; <%= new Date().getFullYear() %> Developed With ❤
                    By
                    <a href="https://github.com/lgope" target="blank"> LAKSHMAN</a>
                </div>


            </footer>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>



    <!-- Footer -->

    <!-- Footer -->
    <!-- <footer class="py-2 bg-white footer">
    <div class="container">
        <p class="m-0 text-center text-dark">&copy; 2020 Coded with ❤ by Lakshman Gope. All rights reserved.</p>
        <center><a href="https://github.com/lgope/html-tags" target="blank">GitHub</a></center>
    </div>
</footer> -->
    <!-- /.footer -->
