<!-- Navbar -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a href="/" class="navbar-brand">Task Controller</a>
    <form class="form-inline">
        <a href="/auth/logout" class="btn btn-outline-danger">Logout</a>
    </form>
</nav>
